body {
    overflow-y: overlay; /* 반드시 overlay 처리 */
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}
hr {
    border: 0;
    height: 1px;
    background-color: rgb(232, 232, 232);
    width: 100%;
    margin: 20px 0 30px;
}
h2 {
    margin: 0;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
    height: 45px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.5);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

@font-face {
    font-family: "ClimateCrisisKRVF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKRVF.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
/*font-family: "Notable", sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
/* font-family: 'Rubik Mono One', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
/* font-family: 'Courier Prime', monospace; */

@import url("https://fonts.googleapis.com/css2?family=Moirai+One&family=Noto+Sans+KR&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
/* font-family: 'Noto Sans KR:wght@300', sans-serif; */

@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
/* font-family: 'Moirai One', cursive; */

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
