.modal_wrap {
    justify-content: space-between;
    margin-bottom: 20px;
}
.modal_ex {
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 30px;
    width: 340px;
    height: 250px;
    overflow: hidden;
    transition: 0.3s;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.bg_back {
    z-index: -1;
    background-color: white;
}
.bg,
.bg_back {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.hover span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
}
.modal_ex img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 0;
}
.modal_ex:hover {
    transition: 0.3s;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.11), 0 2px 7px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(205, 205, 205);
}
.modal_ex:hover span {
    transition: 0.3s;
    color: white;
    opacity: 1;
}
.img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    -webkit-user-drag: none;
    transition: 0.3s;
}
.modal svg {
    position: absolute;
    right: 20px;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.1s;
}
.modal svg:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.1s;
}
.shortcut {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.shortcut svg {
    margin-left: 5px;
    padding-bottom: 1px;
    filter: brightness(0.9);
    position: static;
}
.shortcut div {
    background-color: #e8e8e8;
    padding: 3px 7px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    display: inline-block;
}
.shortcut div:hover {
    background-color: #d0d0d0;
    transition: 0.1s;
}
.shortcut div:hover svg {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.1s;
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
    .experience_wrap {
        flex-direction: column;
        margin: 30px auto 70px;
        padding-top: 70px;
        width: 700px;
    }
    .modal_img {
        cursor: default;
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .experience_wrap {
        flex-direction: column;
        margin: 30px auto 70px;
        padding-top: 70px;
        width: 630px;
    }
    .modal_img {
        cursor: default;
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal {
        display: flex;
    }
    .modal_ex {
        width: 300px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .experience_wrap {
        flex-direction: column;
        margin: 0 auto 70px;
        padding-top: 70px;
        width: 500px;
    }
    .modal_img {
        cursor: default;
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal_wrap {
        flex-direction: column;
        align-self: center;
    }
    .modal_ex {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .experience_wrap {
        flex-direction: column;
        margin: 0 auto 70px;
        padding-top: 70px;
        width: 350px;
    }
    .modal_ex {
        margin: 0 auto;
    }
    .modal_img {
        cursor: default;
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
}
