.skills_wrap {
    flex-direction: column;
    margin: 30px auto 0;
    padding-top: 70px;
    width: 700px;
    font-weight: 300;
}
.row {
    flex-direction: row;
}
.skill_title {
    flex-direction: column;
    margin-right: 50px;
}
.skill_title div {
    padding: 3px 7px 3px 0;
    margin: 5px 5px 5px 0;
    color: rgb(141, 141, 141);
}
.column {
    flex-direction: column;
    /* font-family: "Pretendard-Regular"; */
}
.skills div {
    background-color: #f8f8f8;
    padding: 3px 7px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}
.skills {
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
    .skills_wrap {
        width: 700px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .skills_wrap {
        width: 630px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .skills_wrap {
        width: 500px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .skills_wrap {
        width: 350px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
    .skills:nth-child(4) {
        margin-top: 21px;
    }
}
