.header a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 768px) {
    .header {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px 0;
    }
    .header a {
        text-decoration: none;
        color: black;
    }
    ::before,
    ::after {
        position: absolute;
        content: "";
    }
    .link {
        cursor: pointer;
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        padding: 3px 5px;
        margin: 0 20px;
    }
    .link::before,
    .link::after {
        width: 0%;
        height: 0%;
        opacity: 0;
        transition: width 0.2s linear, height 0.15s 0.2s ease-out,
            opacity 0s 0.35s;
    }
    .link::before {
        bottom: 0;
        left: -1px;
        border-top: 1px solid rgb(28, 31, 30);
        border-left: 1px solid rgb(28, 31, 30);
    }
    .link::after {
        top: 0;
        right: 0;
        border-bottom: 1px solid rgb(28, 31, 30);
        border-right: 1px solid rgb(28, 31, 30);
    }
    .link:hover::before,
    .link:hover::after {
        width: 100%;
        height: 99%;
        opacity: 1;
        transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;
    }
}

img {
    cursor: pointer;
}
.initial {
    margin-left: 30px;
}
.nav {
    margin-right: 15px;
}
.initial_mobile {
    width: 100%;
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    /* transition: all 0.5s ease; */
    animation: navClose;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
}
.nav_mobile {
    width: 100%;
    margin: 0 30px;
    text-align: right;
    /* transition: all 0.5s ease; */
    animation: navOpen;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.nav_mobile ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px 0;
    }
    ::before,
    ::after {
        position: absolute;
        content: "";
    }
    .link {
        cursor: pointer;
        position: relative;
        display: inline;
        text-align: center;
        line-height: 20px;
        padding: 3px 5px;
    }
    .link::before,
    .link::after {
        width: 0%;
        height: 0%;
        opacity: 0;
        transition: width 0.2s linear, height 0.15s 0.2s ease-out,
            opacity 0s 0.35s;
    }
    .link::before {
        bottom: 0;
        left: -1px;
        border-top: 1px solid rgb(28, 31, 30);
        border-left: 1px solid rgb(28, 31, 30);
    }
    .link::after {
        top: 0;
        right: 0;
        border-bottom: 1px solid rgb(28, 31, 30);
        border-right: 1px solid rgb(28, 31, 30);
    }
    .link:hover::before,
    .link:hover::after {
        width: 100%;
        height: 99%;
        opacity: 1;
        transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;
    }
    li {
        margin-bottom: 15px;
    }
}

@keyframes navOpen {
    100% {
        padding-bottom: 10px;
    }
}
@keyframes navClose {
    0% {
        padding-bottom: 25px;
    }
}
